# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
.vs/

# Logs
*.log

# Environment
.env

# Dependency directories
node_modules/
packages/

# Temporary files
*.tmp
*.temp

# Backup files
*.bak
*.old

# Publish outputs
publish/

# SQLite databases (se quiser evitar subir o arquivo)
*.db
*.sqlite
